@use "../variables"as *;

.hero {
  display: grid;
  gap: 1rem;
  padding-bottom: 0;

  @include b-991 {
    margin-top: 70px;
  }

  &__title {
    display: grid;
    gap: 0.5rem;
    text-align: center;
  }

  &__content {
    .hero__hero {
      @include b-991-up {
        display: grid;
      }

      .hero__inner {
        .hero__text {


          h3 {
            color: #251F6E;
            font-size: 26px;
            font-weight: 600;
            font-size: 55px;
            line-height: 50px;

            @include b-575 {
              font-size: 42px;
              line-height: 42px;
            }
          }

          p,
          li {
            color: #848484;
            line-height: 30px;
            font-size: 26px;

            @include b-575 {
              font-size: 24px;
              line-height: 24px;
            }
          }

          p {
            margin-bottom: 0;
            font-weight: 500;
          }

          ul {
            padding-left: 0;
            margin-left: -9px;
          }

          li {
            list-style: none;
            font-weight: 400;

            &::before {
              content: "\2022";
              color: #6371F4;
              margin-right: 10px;
              font-size: 90px;
              display: inline-block;
              position: relative;
              top: 10px;
            }
          }

          @include b-991-up {
            grid-row: -1;
          }
        }

        .hero__media {
          justify-items: flex-end;
        }
      }


      .hero__inner {
        display: grid;
        text-align: center;
        margin: 10px;
        padding: 10px;
        gap: 1rem;

        @include b-575 {
          text-align: left;
          padding-left: 0;
        }

        @include b-991 {
          display: flex;
          flex-direction: column-reverse;
        }

        @include b-991-up {
          grid-template-columns: 1fr 1.6fr;
          align-items: center;
          text-align: start;
          gap: 2rem;
        }

        .hero__media {
          display: grid;
          justify-items: flex-start;
          @include b-575 {
            margin-inline: calc(-1rem - 20px);
            background-image: url('../../dist/images/hero.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 65% -89px;
            height: 60vh;
            background-size: 674px;
            img{
              display: none;
            }
          }
        }

        .hero__text {
          display: grid;
          gap: 0.5rem;


          @include b-575 {
            gap: 1rem;
          }

          @include b-991-up {
            gap: 1rem;
          }
        }
      }
    }
  }
}